[fh.example-out1]
Type=OUT
FileURI=file:///tmp/OUT1
Locking=true

[fh.example-out2]
Type=OUT
FileURI=sftp://test@localhost/OUT2
Auth=cert
Locking=true
SFTPIdentities=/path/to/privatekey
SFTPIdentityPassPhrase=my_key_password

[fh.example-in]
Type=IN
FileURI=file:///tmp/IN
MISendURI=http://localhost:8290/hello
FileNamePattern=*.xml
ContentType=application/xml
PollInterval=2
ActionAfterProcess=move
ActionAfterFailure=move
MoveAfterProcess=archive
MoveAfterProcessDatedArchive=true
MoveAfterFailure=fail
Locking=true